.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: flex;
    align-items: center;
}

.modal {
    margin: auto;
    width: 95%;
    max-width: 360px;
    padding: 1.9em;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--white);
}