.comments-section {
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 1.15em;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;

    .comment__content {

        .comment__content__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .comment__profile {
                display: flex;
                gap: 1em;
                align-items: center;

                .comment__profile__img {
                    width: 35px;
                }

                .comment__profile__name {
                    color: var(--dark-blue);
                    font-weight: bold;
                }
            }

            .comment__reply-btn {
                background: none;
                border: none;
                color: var(--moderate-blue);
                font-weight: bold;
                font-size: 1.6rem;
            }
        }
    
        .comment__content__text {
            margin-top: 0.8em;
        }
    }
    .comment__rate {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        background-color: var(--light-gray);
        padding: 0.4em;
        border-radius: 8px;

        & > button {
            background: none;
            border: none;
            font-weight: bold;
            color: var(--grayish-blue);
        }

        .comment__rate__value {
            font-weight: bold;
            color: var(--moderate-blue);
        }
    }
}