.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
}

.clr--red {
    color: var(--soft-red);
}

.clr--blue {
    color: var(--moderate-blue);
}

.font-sz--16 {
    font-size: 1.6rem;
}

.font-wt--500 {
    font-weight: 500;
}

.d-none {
    display: none;
}

.margin-top--1em {
    margin-top: 1em !important;
}

.margin-top--05em {
    margin-top: 0.5em !important;
}