@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  color: var(--grayish-blue);
}

button {
  font-family: "Rubik", sans-serif;
}

.font-yellow {
  color: yellow;
}

body {
  background-color: var(--very-light-gray);
}

p {
  line-height: 1.5;
}

button {
  cursor: pointer;
}

:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 50px auto;
  width: 90%;
  max-width: 700px;
}

.input {
  display: block;
  font-family: unset;
  color: var(--dark-blue);
  font-size: unset;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  padding: 0.5em;
  resize: none;
}
.input::-moz-placeholder {
  position: absolute;
  top: 0.5em;
}
.input:-ms-input-placeholder {
  position: absolute;
  top: 0.5em;
}
.input::placeholder {
  position: absolute;
  top: 0.5em;
}
.input:focus {
  outline: 1px solid var(--moderate-blue);
}

.btn {
  all: unset;
  padding: 0.9em 1.65em;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--blue {
  color: var(--white);
  background-color: var(--moderate-blue);
}
.btn--blue:hover {
  opacity: 0.5;
}

.comments-section {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.comment {
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 1.15em;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
}
.comment .comment__content .comment__content__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment .comment__content .comment__content__info .comment__profile {
  display: flex;
  gap: 1em;
  align-items: center;
}
.comment .comment__content .comment__content__info .comment__profile .comment__profile__img {
  width: 35px;
}
.comment .comment__content .comment__content__info .comment__profile .comment__profile__img > img {
  width: 100%;
}
.comment .comment__content .comment__content__info .comment__profile .comment__profile__name {
  color: var(--dark-blue);
  font-weight: bold;
}
.comment .comment__content .comment__content__info .comment__reply-btn {
  position: absolute;
  right: 2rem;
  background: none;
  border: none;
  color: var(--moderate-blue);
  font-weight: bold;
  font-size: 1.6rem;
}
.comment .comment__content .comment__content__info .comment__reply-btn:hover {
  opacity: 0.5;
}
@media (max-width: 600px) {
  .comment .comment__content .comment__content__info .comment__reply-btn {
    bottom: 2.5rem;
  }
}
.comment .comment__content .comment__content__text {
  margin-top: 0.8em;
}
.comment .comment__rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  background-color: var(--light-gray);
  padding: 0.4em;
  border-radius: 8px;
}
.comment .comment__rate > button {
  background: none;
  border: none;
  font-weight: bold;
  color: var(--grayish-blue);
}
.comment .comment__rate .comment__rate__value {
  font-weight: bold;
  color: var(--moderate-blue);
}
@media (max-width: 600px) {
  .comment .comment__rate {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .comment {
    flex-direction: column-reverse;
  }
}
.reply-comments {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  align-self: flex-end;
}
.reply-comments::before {
  position: absolute;
  left: -6%;
  top: 0;
  content: "";
  width: 3px;
  height: 100%;
  background-color: var(--light-gray);
}

@media (max-width: 600px) {
  .reply-comments {
    width: 94%;
  }
}
.add-comment {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.15em;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
}

.add-comment__textarea {
  flex: 1;
}

@media (max-width: 600px) {
  .add-comment {
    justify-content: space-between;
    align-items: center;
  }
  .add-comment__textarea {
    order: -1;
    flex: 1 1 100%;
  }
}
.comment__profile__img {
  width: 35px;
}/*# sourceMappingURL=main.css.map */